DATABASE_URL="postgresql://user_admin:password123@localhost:5432/simulation_db"
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email
SMTP_PASSWORD=contraseña de aplicación
FRONTEND_URL=http://localhost:5173
